@font-face {
    font-family: Karla;
    src: url(./fonts/Karla.woff);
  }
  
  // declare a class which applies it
.font-karla {
    font-family: 'Karla' !important;
}

// app global css in SCSS form
html, body, #q-app {
    height: 100%;
}
.main-page {
    position: fixed;
    width: 100%;
}
.google-map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.map-cont {
    height: calc(74vh - 55px / 2) !important;
    position: relative;
}
.rate-cont {
    height: auto !important;
    min-height: calc(25vh - 55px / 2) !important;
    padding-bottom: 30px !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.version-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.rating-icons {
    font-size: 78px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.rate-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}
.myratings-card {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: stretch;
    margin: 5px auto;
}
.myratings-card-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    width: 100%;
    .text-h6{
        width: 100%;
    }
    .map-elem {
        width: 35%;
        padding-bottom: 35%;
        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 100;
        }
    }
    .rate-details {
        width: 65%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        text-align: left;
        padding: 0 10px;
        .rate-date {
            width: 60%;
        }
        .rate {
            width: 40%;
            text-align: center;
            font-size: 40px;
        }
        .rate-reason {
            font-size: 12px;
            width: 100%;
        }
    }
}
.half-width {
    width: 50%;
}
.p-5 {
    padding: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.m-5 {
    margin: 5px;
}
.fw-600 {
    font-weight: 600;
}
.radius-10 {
    border-radius: 10px;
}
.q-card {
    border-radius: 15px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
}
.picture-edit {
    position: absolute;
    background: #ffffff5e;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    > div {
        display: none;
    }
}
.picture-edit-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 35px;
}
.recenter-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 0;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}