@font-face {
    font-family: Karla;
    src: url(./fonts/Karla.woff);
  }
  
  // declare a class which applies it
.font-karla {
    font-family: 'Karla' !important;
}

// app global css in SCSS form
html, body, #q-app {
    height: 100%;
}
.google-map {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.map-cont {
    height: calc(55vh - 55px / 2) !important;
}
.rate-cont {
    height: calc(45vh - 55px / 2) !important;
    padding-bottom: 30px !important;
}
.version-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.rating-icons {
    font-size: 20vw;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.rate-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
}
.half-width {
    width: 50%;
}
.p-5 {
    padding: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.m-5 {
    margin: 5px;
}
.fw-600 {
    font-weight: 600;
}
.radius-10 {
    border-radius: 10px;
}
.q-card {
    border-radius: 15px;
}
