fastapi
uvicorn
sqlalchemy
asyncpg
geoalchemy2
pydantic



#Starting this service:
#uvicorn main:app --reload --host 0.0.0.0 --port 8002



#Create a Location Rating:

curl -X POST "http://localhost:8002/location/locations/" \                                                       
-H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJuZXdVc2VyQGV4YW1wbGUuY29tIiwidXNlcl9pZCI6MiwiZXhwIjoxNzQxODc4NjM2fQ.BVxUD8jufLI7hD2PHB_znuk7Mg7D2T_lS4XgFG0coeM" \
-H "Content-Type: application/json" \-d '{ 
    "latitude": <xx>,
    "longitude": <yy>,
    "stress_level": <zz>
}'
